:root {
  --mainColor: #c45698;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0f091b;
  color: var(--mainColor);
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
}

body section {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body section .mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

body section .mainDiv #actBtn {
  width: 35px;
  height: 35px;
}

body section .mainDiv #actBtn svg {
  width: 30px;
  height: 30px;
}

body section .mainDiv #contactCounter {
  bottom: 0;
  position: absolute;
  margin-bottom: 0.5rem;
}

body section .mainDiv button {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  color: var(--mainColor);
  font-size: 18px;
  border-radius: 15px;
  border: solid var(--mainColor) 2px;
}

body section #addUserBtn {
  width: 35%;
  min-width: 130px;
  height: 2rem;
  justify-content: center;
}

body section .mainDiv section {
  width: 90%;
  height: 50%;
  background-color: #25252544;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.8rem;
  gap: 0.5rem;
  border-radius: 15px;
  margin-bottom: 1rem;
  overflow: auto;
  scrollbar-color: var(--mainColor) #333;
}

body section .mainDiv section .divCard {
  background-color: rgba(23, 23, 23, 0.412);
  width: 95%;
  border-radius: 15px;
  border: solid var(--mainColor) 2px;
  display: flex;
  justify-content: space-between;
}

body section .mainDiv section .divCard div {
  display: flex;
}

body section .mainDiv section .divCard div img {
  align-self: center;
  margin-left: 1rem;
}

body section .mainDiv section .divCard p {
  font-size: 14px;
  padding-left: 1rem;
}

body section .mainDiv section .divCard .divBtnCard {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 1rem;
  gap: 0.5rem;
}

body section .mainDiv section .divCard .divBtnCard button {
  border: none;
}

body h2 {
  margin: 1rem;
  margin-bottom: 0.5rem;
}

.divFormCreateUser {
  padding: 20px;
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #1d1d1df8;
  border-radius: 15px;
  position: absolute;
  top: 15vh;
  align-self: center;
  left: 50%;
  transform: translateX(-50%);
  animation: AnimUp 0.3s ease-out;
  max-width: 400px;
}

@keyframes AnimUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
.divFormCreateUser #exitBtn {
  background-color: transparent;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  border-radius: 50%;
  border: solid var(--mainColor) 2px;
}

.divFormCreateUser label {
  margin-top: 0.5rem;
  padding-left: 50px;
}
.divFormCreateUser #btnValidation {
  width: 50%;
  height: 2rem;
  margin: 10px;
  background-color: transparent;
  border: solid var(--mainColor) 2px;
  color: aliceblue;
  border-radius: 15px;
  margin: 2rem auto;
}

.divFormCreateUser input {
  width: 70%;
  height: 2rem;
  margin: 0 auto;
  border-radius: 15px;
  border: none;
  background-color: #333;
  padding-left: 1rem;
  color: aliceblue;
}

.divFormCreateUser h3 {
  text-align: center;
  margin: 0.5rem auto;
}

#divContactText {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5rem;
  gap: 0.5rem;
}
#divContactText p {
  font-size: 16px;
}

#actBtn {
  margin-top: 5vh;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spin {
  animation: spinOnce 0.6s ease-in-out;
}

@keyframes spinOnce {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ppImg {
  width: 50px;
  height: 50px;
}
